*{
    padding: 0;
    margin: 0px;
    list-style: none;
}

ul >li{
    border-left: 1px solid white;
}
ul li{
    float:left;
    width: 130px;
    border: 1px solid rgb(248, 248, 248);

    background-color: black;

    text-align: center;
    color: white;

    position: relative;

    height: 40px;

    line-height: 40px;
}

ul li:hover{
    background-color: orange;
}

ul ul li{
    text-align: left;

    padding: 0px;

    /* padding: 0 0 0 2px; */
}

ul ul ul {
    position: absolute;
    top:0;
    left:100%;

}

ul ul {
    display: none;
}

ul li:hover > ul{
    display: block;
}
